
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <img src="~/App_Data/correctdata logo.png" />
        <h1>Teste de Desenvolvedor Jr</h1>
        <h4>Gustavo Nascimento Costa - 06/02/2018</h4>
    </div>
    <hr />
    @Html.ActionLink("Lista de Contatos", "Index", "Contato")
</body>
</html>
